
* {
  
}

html {
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14pt;
}

#container1 {
  width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}

#craneImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}