* {
	font-family: "Inconsolata", "Consolas", monospace;
	color: var(--text-color);
	touch-action: manipulation;
}

body {
	background-color: var(--bg-color);
	margin: auto 15px;
	margin-bottom: 50px;
	font-size: 14px;
}

p {
	display: inline;
	margin: 1px auto;
}

div {
	touch-action: manipulation;
}

div.scroll {
	overflow: auto;
	border: 1px solid #000;
}

hr {
	margin-top: 4px;
	margin-bottom: 3px;
	border: 1px solid var(--outline-color);
	background-color: var(--outline-color);
}

.button {
	font-size: 13px;
	border-radius: 5px;
	border: 1px solid var(--outline-color);
	background: var(--btn-bg-on);
	outline: none;

	margin: 3px 0;
	margin-right: 4px;
	padding: 2px 4px;

	touch-action: manipulation;

	overflow: hidden;
	position: relative;
}

button .ripple {
	border: none;
	border-radius: 50%;
	background-color: var(--btn-outline-hover);
	position: absolute;
	transform: scale(0);
	animation: ripple 0.6s linear;
}

@keyframes ripple {
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

.button:hover {
	background: var(--btn-bg-hover);
	border: 1px solid var(--btn-outline-hover);
	cursor: pointer;
	outline: none;
}

.button:active {
	background: var(--btn-bg-active);
	border: 1px solid var(--btn-outline-active);
	outline: none;
}

.button:disabled {
	opacity: 0.6;
	border: 1px solid #555;
	cursor: auto;
	outline: none;
}

.projectButton {
	font-size: 13px;
	border-radius: 10px;
	border: 1px solid var(--outline-color);
	background: var(--btn-bg-on);
	display: block;
	outline: none;

	height: 70px;
	width: 100%;
	margin-top: 10px;
	transition: all 0.3s ease;

	touch-action: manipulation;
}

.projectButton:hover {
	background: var(--btn-bg-hover);
	border: 1px solid var(--btn-outline-hover);
	cursor: pointer;
}

.projectButton:active {
	background: var(--btn-bg-active);
	border: 1px solid var(--btn-outline-active);
}

.projectButton:disabled {
	opacity: 0.6;
	border: 1px solid #555;
	cursor: auto;
}

.pulsate {
	-webkit-animation: pulsate 0.7s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0;
}

.toolTip {
	position: relative;
	display: inline-block;
}

.toolTip .toolTipText {
	visibility: hidden;
	width: 160px;
	background-color: #c8c8c8;
	color: #000;
	text-align: center;
	padding: 5px 0;
	border-radius: 10px;
	margin-bottom: 13px;

	position: absolute;
	z-index: 1;
	bottom: 75%;
	left: 50%;
	margin-left: 0px;

	opacity: 0;
	transition: opacity 1s;
}

.toolTip:hover .toolTipText {
	visibility: visible;
	opacity: 1;
}

@media only screen and (max-width: 550px) {

	body {
		font-size: 16px;
	}

	.button {
		font-size: 14px;
	}

	.projectButton {
		font-size: 14px;
	}
}