#consoleMsg {
  overflow: hidden;
  margin-bottom: 15px;
}

#centerDiv {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

#readoutDiv {
  display: block;
  height: 900px;
  max-height: 80vh;
  padding: 5px;
  margin-bottom: 0;
  border: 1px solid var(--outline-color);
  overflow-y: auto;
}

#eventDiv {
  background: rgba(100, 100, 100, .5);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  touch-action: none;
}

#eventPanel {
  background: var(--bg-color);
  border: 1px solid var(--outline-color);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 2;
  min-width: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
}

#eventButtons {
  bottom: 20px;
  position: absolute;
}

#eventButtons>button {
  margin-right: 15px;
}

#eventCloseButton {
  right: 10px;
  top: 15px;
  position: absolute;
  font-size: 20px;
  border: none;
  outline: none;
  background: none;
  text-rendering: var(--outline-color);
  touch-action: manipulation;
  --ripple: false;
}

#eventCloseButton:hover {
  text-rendering: var(--btn-outline-hover);
  text-decoration: underline;
  cursor: pointer;
}

#moneyDiv {
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 20px;
}

#projectsColumn {
  float: right;
  margin-bottom: 50px;
}

#projectsDiv>button {
  border-radius: 10px;
  display: block;

  min-height: 70px;
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

#projectsDiv>button>div.titleDiv {
  margin-bottom: 5px;
}

#menuDiv {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 8px;
  margin-top: 5px;
  margin-right: 11px;
  z-index: 3;
}

#money {
  word-wrap: break-word;
  word-break: break-all;
}

#happinessDiv {
  width: 275px;
  margin-right: 13px;
}

#happinessProgress {
  width: 100%;
  height: 15px;
  background-color: var(--bg-color);
  outline: 1px solid var(--outline-color);
  outline-offset: -1px;
  margin-top: 5px;
}

#happinessMeter {
  height: 100%;
  background-color: var(--fill-color);
  border: none;
}

@media only screen and (max-width: 1151px) {
  #projectsColumn {
    float: left;
  }
}

@media only screen and (max-width: 621px) {
  #centerDiv {
    width: 90%;
  }

  #consoleMsg {
    font-size: 15px;
  }

  #happinessDiv {
    width: 100%;
  }

  #eventCloseButton {
    right: 0px;
  }
  
  #readoutDiv {
    height: 200px;
    width: 100%;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid var(--outline-color);
    overflow-y: scroll;
    
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
  }
}